[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
psycopg2 = "*"
gevent = "*"
lib = "*"
twisted = {extras = ["tls"],version = "*"}
httptools = "*"
yarl = "*"

[requires]
python_version = "3.7"
